<!DOCTYPE html>
<html ng-app="survey">

<head>
  <title>Survey App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/questionsController.js"></script>
  <!--  <script src="controllers/question2Controller.js"></script> -->
  <script src="services/QuestionsFactory.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div ng-model="survey" class="container">
    <div ng-controller="QuestionsController">
      <div ng-hide="showResults" class="row" >
        <div class="col-md-4">
          <h2>Question 1</h2>
          <form ng-submit="QuestionsFactory.addQuestion1Answer()" class="form-inline" role="form">
            <div class="form-group">
              <label for="quest1answer" id="question">{{ QuestionsFactory.question1 }}</label><br />
              <input type="text" ng-model="QuestionsFactory.quest1answer" class="form-control" id="quest1answer" placeholder="Enter answer">
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
        </div>
  <!-- ////////////////// Question 2 ///////////////////////////////////////// -->
        <div class="col-md-4">
          <h2>Question 2</h2>
          <form ng-submit="QuestionsFactory.addAnswers()" class="form-inline" role="form">
            <div class="form-group">
              <label for="quest2answer" id="question">{{ QuestionsFactory.question2 }}</label><br />
              <input type="text" ng-model="QuestionsFactory.quest2answer" class="form-control" id="quest2answer" placeholder="Enter answer">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
      <button ng-click="showResults = !showResults" ng-show="answers1.length > 4 && answers2.length > 4" type="submit">Toggle Results</button>
<!-- show up when user clicks show results button -->
      <div ng-show="showResults">
        <span ng-show="answers1.length > 4 && answers2.length > 4">
          <div align="center" class="col-md-4">

            <h2 id="centered" ng-show="answers1.length">Question 1 Answer List</h2>
            <p id="centered" ng-show="answers1.length">{{ QuestionsFactory.question1 }}</p>
            <ul id="centered">
              <li ng-repeat="item1 in answers1">{{ item1.text }}</li>
            </ul>

            <h2 id="centered" ng-show="answers2.length">Question 2 Answer List</h2>
            <p id="centered" ng-show="answers2.length">{{ QuestionsFactory.question2 }}</p>
            <ul id="centered">
              <li ng-repeat="item2 in answers2">{{ item2.text }}</li>
            </ul>
          </div>
        </span>
      </div>

    </div>
  </div>
</body>
</html>
<!-- =/=/=/=/=/=/=/=/=/=/ edit snippet /=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/
            <!- <span ng-click="editing = true" ng-hide="editing"> -->
              <!-- {{ item1.text }} -->
            <!-- </span> -->
            <!-- <span class="form-group" ng-show="editing" ng-submit="editing = false"> -->
              <!-- <form class="form-inline" role="form">
                <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                <button class="btn btn-default btn-small" type="submit">Save</button>
              </form> -->
            <!-- </span> -->
<!-- =/=/=/=/=/=/=/=/=/=/ end edit snippet /=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/-->

<!-- ////////////////////// display answer snippet /////////////////////////////////-->
      <!-- <div class="row">
        <div class="col-md-12">
          <h2 ng-show="answers.length > 4">Question 2 Answer List</h2>
          <p ng-show="answers.length > 4">{{ QuestionsFactory.question2 }}</p>
          <ul>
            <li ng-show="answers.length > 4" ng-repeat="item in answers">
              <span ng-click="editing = true" ng-hide="editing">
                {{ item.text }}
              </span>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                  <button class="btn btn-default btn-small" type="submit">Save</button>
                </form>
              </span>
            </li>
          </ul>
        </div> -->
        <!-- ////////////////////// end display answer snippet /////////////////////////////////-->
