<!DOCTYPE html>
<html ng-app="survey">

<head>
  <title>Survey App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/question1Controller.js"></script>
  <script src="controllers/question2Controller.js"></script>
  <script src="services/QuestionsFactory.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
    <div ng-controller="Question1Controller">
      <!-- <div class="row" ng-show="answers.length">
        <div class="col-md-12">
          <h4>Show Answers</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query.answer" type="text" id="quest1-answer" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <h2 ng-show="answers.length > 4">Question 1 Answer List</h2>
          <p ng-show="answers.length > 4">{{ QuestionsFactory.question1 }}</p>
          <ul>
            <li ng-show="answers.length > 4" ng-repeat="item in filtered = (answers | filter:query )">
              <span ng-click="editing = true" ng-hide="editing">
                {{item.text}} <a ng-click="QuestionsFactory.deleteAnswer(item)">Delete</a>
              </span>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                  <button class="btn btn-default btn-small" type="submit">Save</button>
                </form>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Question 1</h2>
          <form ng-submit="QuestionsFactory.addQuestion1Answer()" class="form-inline" role="form">
            <div class="form-group">
              <label for="quest1answer" id="question">{{ QuestionsFactory.question1 }}</label><br />
              <input type="text" ng-model="QuestionsFactory.quest1answer" class="form-control" id="quest1answer" placeholder="Enter answer">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>

<!-- ////////////////// Question 2 ///////////////////////////////////////// -->
    <div ng-controller="Question2Controller">
      <div class="row">
        <div class="col-md-12">
          <h2 ng-show="answers.length > 4">Question 2 Answer List</h2>
          <p ng-show="answers.length > 4">{{ QuestionsFactory.question2 }}</p>
          <ul>
            <li ng-show="answers.length > 4" ng-repeat="item in filtered = (answers | filter:query )">
              <span ng-click="editing = true" ng-hide="editing">
                {{ item.text }} <a ng-click="QuestionsFactory.deleteAnswer(item)">Delete</a>
              </span>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-inline" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                  <button class="btn btn-default btn-small" type="submit">Save</button>
                </form>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Question 2</h2>
          <form ng-submit="QuestionsFactory.addQuestion2Answer()" class="form-inline" role="form">
            <div class="form-group">
              <label for="quest2answer" id="question">{{ QuestionsFactory.question2 }}</label><br />
              <input type="text" ng-model="QuestionsFactory.quest2answer" class="form-control" id="quest2answer" placeholder="Enter answer">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


      <!-- <div class="row" ng-controller="Question2Controller">
        <div class="col-md-12" ng-show="dstudentsWithoutPermission.length">
          <h3>Without Permission Slips</h3>
          <ul>
            <li ng-repeat="item in studentsWithoutPermission = (answers | filter:{permissionSlip: false})">
              {{item.name}} <a ng-click="addStudentWithPermissionSlip(item)"> - received permission slip -</a>
            </li>
          </ul>
        </div>
        <div class="col-md-12" ng-show="studentsWithPermission.length">
          <h3>With Permission Slips</h3>
          <ul>
            <li ng-repeat="item in studentsWithPermission = (students | filter:{permissionSlip: true})">
              {{item.name}}
            </li>
          </ul>
        </div>
      </div> -->
